# .gitignore file
# file tells git what to ignore when checking for changes in any files in this directory

#ignore all files in these directories
.metadata/
RemoteSystemsTempFiles/
webtalk/

#ignore these subdirectories
Debug/
Release/

#ignore all .pdf files
*.ld

#ignore SDK.log file
SDK.log